{% extends 'base.html' %} 
{% block body %} 
{% load crispy_forms_tags %}
<section class="section-intro padding-y-sm">
  <div class="container">
    <h1>Add instructions one by one</h1>
    <div class="mt-5">
      <form method="post" class="my-5">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center align-items-center">
          <button type="submit" class="btn btn-warning mx-3">Add</button>
          <a href="{% url 'profile' %}" class="btn btn-info mx-3">Done</a>
        </div>
      </form>
      {% if success_message %}
      <div class="alert alert-success" role="alert">
        {{success_message}}
      </div>
      {% endif %}
      {% if error_message %}
      <div class="alert alert-danger" role="alert">
        {{error_message}}
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}