{% extends 'base.html' %} 
{% block body %} 
{% load crispy_forms_tags %}
<section class="section-intro padding-y-sm">
  <div class="container">
    {{recipe_slug}}
    <h1>Share your favorite recipes</h1>
    <div class="mt-5">
      <form method="post" enctype="multipart/form-data" class="my-5">
        {% csrf_token %} 
        {{ form|crispy }}
        <div class="d-flex justify-content-center align-items-center">
          {% if recipe_slug %}
          <a href="{% url 'add_ingredients' recipe_slug %}" class="btn btn-info mt-3">Add ingredients</a>
          {% else %}
          <button type="submit" class="btn btn-warning mt-3">Submit</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</section>
<script>
$(document).ready(function() {
    $('#id_recipe_name').on('input', function() {
        // Get the value of the recipe_name input
        var recipeName = $(this).val();

        // Replace spaces with dashes and convert to lowercase for slug
        var slug = recipeName.trim().toLowerCase().replace(/\s+/g, '-');

        // Set the value of the slug input
        $('#id_slug').val(slug);
    });
});
</script>
{% endblock %}
